<p id="notice"><%= notice %></p>

<p>
  <strong>Street:</strong>
  <%= @office.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @office.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @office.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @office.country %>
</p>

<p>
  <strong>Mail code:</strong>
  <%= @office.mail_code %>
</p>

<%= link_to 'Edit', edit_office_path(@office) %> |
<%= link_to 'Back', offices_path %>
