<%= render 'header' %>
<h4 class="m-2">Create a New Engagement Request</h4>
<p class="m-2 pb-2">
  You have a new project idea, and you need help.  Here's how to engage Jay Crowley for expert project management advice.
</p>
<div class="container-fluid">
  <div class="row my-2">
    <div class="col-sm-2">
      <%= link_to 'Finger in the Air Estimation', new_engagement_request_path + '?engagement_type=finger_estimate', class: 'btn btn-primary btn-lg btn-block' %>
    </div>
    <div class="col-sm-10">
      Request a rough estimation for a project idea that you had a dream about last night.  You aren't sure what it means.
      You have no idea if it's feasible.  I will tell you it is not, and what is possible, and charge good money for that expertise.
    </div>
  </div>
  <div class="row my-2">
    <div class="col-sm-2">
      <%= link_to 'Detailed Project Estimates', new_engagement_request_path + '?engagement_type=detailed_estimate', class: 'btn btn-success btn-lg btn-block' %>
    </div>
    <div class="col-sm-10">
      After you have ignored the finger in the air estimate, and raised money, use this.
      Get a more in-depth analysis of the work that will need to be performed, and time, resource and funding estimates.
    </div>
  </div>
  <div class="row my-2">
    <div class="col-sm-2">
      <%= link_to 'Resource Scheduling', new_engagement_request_path + '?engagement_type=scheduling', class: 'btn btn-warning btn-lg btn-block' %>
    </div>
    <div class="col-sm-10">
      If you have managed to make it past the first two estimate steps, feel free to schedule time to do your work.
      We will put together a team of experts (mainly college graduates, billed at extortionate rates.)
      You will need to have approved funding in place!
    </div>
  </div>
  <div class="row my-2">
    <div class="col-sm-2">
      <%= link_to 'Problem Rescue', new_engagement_request_path + '?engagement_type=rescue', class: 'btn btn-danger btn-lg btn-block' %>
    </div>
    <div class="col-sm-10">
      You've gone ahead and tried to do it yourself.  You are stuck.  You need my expertise to get out of a bind.
      Use this for small, short notice tasks or advise.  Billed at double!
    </div>
  </div>
</div>
