<%= render 'home/header' %>
<h4 class="m-2">View Engagement Request</h4>
<div class="container-fluid">
  <div class="row">
    <div class="col-2">Id</div>
    <div class="col-8"><%= @engagement_request.engagement_id %></div>
  </div>
  <div class="row">
    <div class="col-2">Status</div>
    <div class="col-2"><%= EngagementRequest::STATUSES[@engagement_request.status] %></div>
  </div>
  <% if @engagement_request.submitted? %>
    <div class="row">
      <div class="col-8">
        Congratulations, you have passed all validations.
        Your request will be reviewed shortly.
        Check back in a few minutes.
      </div>
    </div>
  <% end %>

  <% if @engagement_request.complete? %>
    <div class="row">
      <div class="col-12">
        <hr>
        <h5>Review Results</h5>
      </div>
    </div>
    <% if @engagement_request.estimated_cost.nil? %>
      <div class="row">
        <div class="col-2">Review Notes</div>
        <div class="col-4"><%= @engagement_request.estimate_breakdown %></div>
      </div>
    <% else %>
      <div class="row">
        <div class="col-12">
          Jay has deemed your project feasible, with a small increased budget and time frame as below.
          He will be in contact before the start of the project.
        </div>
      </div>
      <div class="row">
        <div class="col-2">Estimated Cost</div>
        <div class="col-4"><%= number_to_currency(@engagement_request.estimated_cost) %></div>
      </div>
      <div class="row">
        <div class="col-2">Estimate Breakdown</div>
        <div class="col-4"><%= @engagement_request.estimate_breakdown %></div>
      </div>
      <div class="row">
        <div class="col-2">Estimated End Date</div>
        <div class="col-4"><%= @engagement_request.estimated_duration %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="row">
    <div class="col-12">
      <hr>
      <h5>Contacts</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-2">Requester</div>
    <div class="col-8">
      <% if @engagement_request.requester %>
        <div class="container">
          <div class="row">
            <div class="col-3">
              <%= @engagement_request.requester.first_name %>
              <%= @engagement_request.requester.last_name %>
            </div>
            <div class="col-3"><%= @engagement_request.requester.title.name %></div>
            <div class="col-3"><%= @engagement_request.requester.job.name %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-2">Subject Expert</div>
    <div class="col-8">
      <% if @engagement_request.subject_expert %>
        <div class="container">
          <div class="row">
            <div class="col-3">
              <%= @engagement_request.subject_expert.first_name %>
              <%= @engagement_request.subject_expert.last_name %>
            </div>
            <div class="col-3"><%= @engagement_request.subject_expert.title.name %></div>
            <div class="col-3"><%= @engagement_request.subject_expert.job.name %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-2">Sponsor</div>
    <div class="col-8">
      <% if @engagement_request.sponsor %>
        <div class="container">
          <div class="row">
            <div class="col-3">
              <%= @engagement_request.sponsor.first_name %>
              <%= @engagement_request.sponsor.last_name %>
            </div>
            <div class="col-3"><%= @engagement_request.sponsor.title.name %></div>
            <div class="col-3"><%= @engagement_request.sponsor.job.name %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <hr>
      <h5>Project Definition</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-2">Engagement Type</div>
    <div class="col-8"><%= EngagementRequest::ENGAGEMENT_TYPES[@engagement_request.engagement_type] %></div>
  </div>
  <div class="row">
    <div class="col-2">Project Name</div>
    <div class="col-8"><%= @engagement_request.project_name %></div>
  </div>
  <div class="row">
    <div class="col-2">Vision</div>
    <div class="col-8"><%= @engagement_request.vision %></div>
  </div>
  <div class="row">
    <div class="col-2">Goal</div>
    <div class="col-8"><%= @engagement_request.goal %></div>
  </div>
  <div class="row">
    <div class="col-2">Description</div>
    <div class="col-8"><%= @engagement_request.description %></div>
  </div>
  <div class="row">
    <div class="col-2">Scope</div>
    <div class="col-8"><%= @engagement_request.scope %></div>
  </div>
  <div class="row">
    <div class="col-2">Advice Required</div>
    <div class="col-8"><%= @engagement_request.advice_required %></div>
  </div>
  <div class="row">
    <div class="col-2">Program</div>
    <div class="col-8"><%= @engagement_request.program && @engagement_request.program.name %></div>
  </div>
  <div class="row">
    <div class="col-2">Train</div>
    <div class="col-8"><%= @engagement_request.train && @engagement_request.train.name %></div>
  </div>
  <% if false # never got this working, and project dont enough %>
  <div class="row">
    <div class="col-2">Impacted Projects</div>
    <div class="col-8">
      <%= @engagement_request.projects.collect { |project| project.name }.join(', ') %>
    </div>
  </div>
  <% end %>

  <div class="row">
    <div class="col-12">
      <hr>
      <h5>Funding</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-2">Funding Method</div>
    <div class="col-8"><%= EngagementRequest::FUNDING_METHODS[@engagement_request.funding_method] %></div>
  </div>
  <div class="row">
    <div class="col-2">Cost Center</div>
    <div class="col-8"><%= @engagement_request.cost_center %></div>
  </div>
  <div class="row">
    <div class="col-2">Funding Status</div>
    <div class="col-8"><%= EngagementRequest::FUNDING_STATUSES[@engagement_request.funding_status] %></div>
  </div>
  <div class="row">
    <div class="col-2">Budget Allocated</div>
    <div class="col-8"><%= number_to_currency(@engagement_request.budget_allocated) %></div>
  </div>

  <div class="row">
    <div class="col-12">
      <hr>
      <h5>Time to Market</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-2">Priority</div>
    <div class="col-8"><%= EngagementRequest::PRIORITIES[@engagement_request.priority] %></div>
  </div>
  <div class="row">
    <div class="col-2">Start Date</div>
    <div class="col-8"><%= @engagement_request.start_date %></div>
  </div>
  <div class="row">
    <div class="col-2">End Date</div>
    <div class="col-8"><%= @engagement_request.end_date %></div>
  </div>
  <div class="row">
    <div class="col-2">Risk Rating</div>
    <div class="col-8"><%= EngagementRequest::RISK_RATINGS[@engagement_request.risk_rating] %></div>
  </div>
  <div class="row">
    <div class="col-2">Risks</div>
    <div class="col-8"><%= @engagement_request.risks %></div>
  </div>
  <div class="row">
    <div class="col-2">Projected Revenue</div>
    <div class="col-8"><%= number_to_currency(@engagement_request.projected_revenue) %></div>
  </div>

  <div class="row">
    <div class="col-12">
      <hr>
      <h5>Validations Summary</h5>
    </div>
  </div>
  <% if @engagement_request.validations %>
    <div class="row">
      <div class="col-12">
        <ul class="text-danger">
          <% @engagement_request.validations.split('|').each do |validation| %>
            <li><%= validation %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-10 pr-0">
      <div class="float-right mb-5">
        <%= link_to 'Edit', edit_engagement_request_path(@engagement_request), class: 'btn btn-success' %>
      </div>
    </div>
  </div>
</div>
